

*{
	box-sizing: border-box;
}

}
.container
.row{
	width:100%;
	background-color: gray;

}

/*** large device only ***/

@media (min-width:992px){
	.col-lg-4{
		float:left;
		padding:10px;

	}
	.col-lg-4{
		width:33.33%;
	}
}	

/*** medium device only ***/
@media (min-width:768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float:left;
		
		padding:10px;

		
	}
	.col-md-6{
		width:50%;
	}
	.col-md-12{
		width:100%;
	}
}	

/*** small device only ***/
@media (max-width:767px){
	.col-xs-12{
		float:left;
		padding:10px;
		
	}
	.col-xs-12{
		width:100%;
	}
}	
section{
	border: 1px solid black;
	background-color: gray;
}
p{
	padding:10px;
}
/********* title style ******/
.title{
	position:relative;
	float:right;
	border: 1px solid red;
	background-color:yellow;
	width:30%;
	margin-left: 70%;
	text-align: center;
	
}

